button.downloadButton {
  transition: ease-in;
}
button.downloadButton:hover {
  background-color: #85858547;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 1s linear infinite;
}
