@font-face {
  font-family: "JetBrainsMono";
  src: url("/_next/static/yandex_mod/jetbrains/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
* {
  font-family: "JetBrainsMono", sans-serif !important;
}
/* 
Заменяем все шрифты на моноширинные
*/
