div[class*="TitleBar_root__"] {
  display: none !important;
}
div[class*="DefaultLayout_root__"] {
  margin-top: 0 !important;
  padding-top: 20px !important;
}
aside[class*="Navbar_root__"] {
  margin-top: 0 !important;
}
/* 
Стиль, убирающий программную панель с кнопками закрыть и свернуть, тк есть системная
*/
